<div class="policy-title-wrapper">
  <h2 class="policy-title">プライバシーポリシー</h2>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">Sample Title</h2>
    <p class="policy-contents-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">Sample Title</h2>
    <p class="policy-contents-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">Sample Title</h2>
    <p class="policy-contents-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">Sample Title</h2>
    <p class="policy-contents-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">Sample Title</h2>
    <p class="policy-contents-text">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
  </div>
</div>
