<div class="policy-title-wrapper">
  <h2 class="policy-title">プライバシーポリシー</h2>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">1. はじめに</h2>
    <p class="policy-contents-text">
      withApp（以下「当方」）は、スマートフォン用アプリケーション（以下「アプリ」）を開発・運用しています。<br>
      本アプリのご使用によって、本規約に同意していただいたものとみなします。
  </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">2. 収集する情報</h2>
    <p class="policy-contents-text">
      アプリのご利用に際して、以下の利用者情報を取得いたします。
    </p>
    <h3 class="policy-child-sub-heading">- 2.1  アプリケーションの利用状況の収集</h3>
    <p class="policy-contents-text">
      当方が配信するアプリでは、広告配信のためにGoogle AdMob、利用状況解析のためにGoogle Firebase Analyticsを使用する場合がございます。
      <br>広告配信のために広告IDを取得していますが、個人を特定するためなどには使用しておりません。
      <br>取得する情報、利用目的、第三者への提供等の詳細につきましては、以下のプライバシーポリシーのリンクよりご確認ください。
    </p>

    <div class="link-wrapper">
      <a href="https://policies.google.com/technologies/ads?hl=ja">
        AdMob（Google Inc.）
      </a>
    </div>
    <div class="link-wrapper">
      <a href="https://policies.google.com/privacy?hl=ja%EF%BB%BF">
        Firebase Analytics（Google Inc.）
      </a>
    </div>

    <h3 class="policy-child-sub-heading">- 2.2  お問い合わせやご意見を頂く際の個人情報の収集</h3>

    <h4 class="contact-content">
      • 2.2-1 送信元のメールアドレス
    </h4>
    <h4 class="contact-content">
      • 2.2-2 お問い合わせ内容
    </h4>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">3. 利用目的</h2>
    <p class="policy-contents-text">
      当方は、2.2 において収集した情報を、お問い合わせに対する返信のために利用いたします。
      <br>また、2.2 において収集した情報を、本アプリの品質向上のために利用いたします。
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">4. 個人情報の管理</h2>
    <p class="policy-contents-text">
      当方は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、安全対策を実施し個人情報の厳重な管理を行ないます。
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">5. 個人情報の第三者への開示・提供の禁止</h2>
    <p class="policy-contents-text">
      当方は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
      <br>• お客さまの同意がある場合
      <br>• 法令に基づき開示することが必要である場合
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">6. 法令、規範の順守と見直し</h2>
    <p class="policy-contents-text">
      当方は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">7. 免責事項 </h2>
    <p class="policy-contents-text">
        本アプリがユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、および不具合が生じないことについて、何ら保証するものではありません。<br>
        当方の都合によりアプリの仕様を変更できます。私たちは、本アプリの提供の終了、変更、または利用不能、本アプリの利用によるデータの消失または機械の故障もしくは損傷、その他本アプリに関してユーザーが被った損害につき、賠償する責任を一切負わないものとします。
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">8. 著作権・知的財産権等 </h2>
    <p class="policy-contents-text">
      著作権その他一切の権利は、当方又は権利を有する第三者に帰属します。
    </p>
  </div>
</div>
<div class="policy-contents-wrapper">
  <div class="policy-items-wrapper">
    <h2 class="policy-sub-heeading">9. 連絡先 </h2>
    <p class="policy-contents-text">
      <a href="mailto:kamidori202110@gmail.com">お問い合わせはこちら</a>
    </p>
  </div>
</div>
